-
  const history = [
    {
      year: "2021年（R3）",
      text: "株式会社筑波丸東を吸収合併"
    },
    {
      year: "2017年（H29）",
      text: "ISO9001:2015に移行"
    },
    {
      year: "2014年（H26）",
      text: "ミャンマー連邦共和国に大型三軸圧縮試験装置納入"
    },
    {
      year: "2010年（H22）",
      text: "ISO9001:2008に移行"
    },
    {
      year: "2007年（H19）",
      text: "営業取扱品目を現在のラインナップに刷新"
    },
    {
      year: "2006年（H18）",
      text: "丸東キャラクター選出"
    },
    {
      year: "2005年（H17）",
      text: "専務取締役･今井保行　代表取締役就任<br>代表取締役･井崎宏三　会長就任"
    },
    {
      year: "2005年（H17）",
      text: "創業者･今井帰一逝去"
    },
    {
      year: "2005年（H17）",
      text: "私募債発行(引受:三菱東京UFJ銀行)"
    },
    {
      year: "2005年（H17）",
      text: "力計校正室が力校正におけるJCSS認定事業者に認定される"
    },
    {
      year: "2003年（H15）",
      text: "ISO9001:2000に移行"
    },
    {
      year: "2001年（H13）",
      text: "東洋最大の水理実験装置(泥流水路、土石流水路、幅広水路）を開発、納入"
    },
    {
      year: "2001年（H13）",
      text: "資本金4,500万円に増資"
    },
    {
      year: "2001年（H13）",
      text: "廃棄物処理材料の試験評価機器の開発、納入"
    },
    {
      year: "2001年（H13）",
      text: "取締役副社長･井崎宏三　代表取締役就任<br>代表取締役･今井帰一　会長就任"
    },
    {
      year: "1999年（H11）",
      text: "ホームページ開設",
    },
    {
      year: "1999年（H11）",
      text: "株式会社丸東三友製作所を吸収合併<br>水理試験機器、構造力学実験装置を取扱製品にラインナップ"
    },
    {
      year: "1999年（H11）",
      text: "ISO9001認証取得（認証対象：東京本社）"
    },
    {
      year: "1999年（H11）",
      text: "日本最大の超大型平面ひずみ圧縮試験機を開発、納入"
    },
    {
      year: "1997年（H09）",
      text: "自動車衝突実験関連試験機器を製作、納入"
    },
    {
      year: "1995年（H07）",
      text: "PL法に対応"
    },
    {
      year: "1993年（H05）",
      text: "自動品質管理用コンクリートプラントの製作"
    },
    {
      year: "1991年（H03）",
      text: "遠心用土槽の開発開始"
    },
    {
      year: "1989年（H01）",
      text: "本社新社屋ビル完成"
    },
    {
      year: "1989年（H01）",
      text: "複合材料試験機器、試験･研究用切断機を取扱製品にラインナップ"
    },
    {
      year: "1988年（S63）",
      text: "セラミック評価試験機器の開発"
    },
    {
      year: "1987年（S62）",
      text: "代表取締役･今井帰一　勲五等瑞宝章を受章"
    },
    {
      year: "1987年（S62）",
      text: "高圧大型岩石三軸試験装置の開発、納入"
    },
    {
      year: "1985年（S60）",
      text: "旧建設省土木研究所とコンクリートの耐久性に関する評価装置（アルカリ反応性試験装置)を共同開発"
    },
    {
      year: "1985年（S60）",
      text: "旧建設省土木研究所とジオテキスタイル用土質試験機を共同開発"
    },
    {
      year: "1983年（S58）",
      text: "TQCキックオフ"
    },
    {
      year: "1980年（S55）",
      text: "自動車関連、医療関連等の試験機器製作を開始<br>試験機器の総合メーカーを目指す"
    },
    {
      year: "1979年（S54）",
      text: "コンピュータによるデータ収録処理装置を開発"
    },
    {
      year: "1978年（S53）",
      text: "代表取締役･今井帰一　通商産業大臣賞受賞"
    },
    {
      year: "1978年（S53）",
      text: "茨城県つくば郡(現つくば市）に株式会社筑波丸東を設立"
    },
    {
      year: "1973年（S48）",
      text: "各種大型実験土槽の製作開始"
    },
    {
      year: "1972年（S47）",
      text: "世界最大の超大型三軸圧縮試験装置を開発、納入"
    },
    {
      year: "1972年（S47）",
      text: "研磨機部門を切り離し、文京区湯島に株式会社マルトーを設立"
    },
    {
      year: "1971年（S46）",
      text: "電油サーボシステムの採用による各種試験装置の製作で地震、耐震構造の解析に貢献"
    },
    {
      year: "1969年（S44）",
      text: "江戸川区篠崎に篠崎工場(～H13)を建設"
    },
    {
      year: "1968年（S43）",
      text: "資本金を1,500万円に増資"
    },
    {
      year: "1964年（S39）",
      text: "資本金を1,000万円に増資<br>北海道(～S45)、京都(～S48)出張所を開設"
    },
    {
      year: "1962年（S37）",
      text: "資本金を800万円に増資<br>リーレ型圧縮･万能試験機生産用第三工場を建設"
    },
    {
      year: "1960年（S35）",
      text: "荒川区尾久に株式会社三友精機製作所(S50 株式会社丸東三友製作所に改称)を設立"
    },
    {
      year: "1956年（S31）",
      text: "試験機増産のため第二工場建設"
    },
    {
      year: "1954年（S29）",
      text: "江東区深川(現住所)に本社を移転"
    },
    {
      year: "1951年（S26）",
      text: "マルトー･リング(環状ばね型力計)を開発"
    },
    {
      year: "1951年（S26）",
      text: "マルトー･エアメータを開発"
    },
    {
      year: "1951年（S26）",
      text: "資本金25万円、株式会社丸東製作所として設立<br>初代社長に今井帰一就任"
    },
    {
      year: "1947年（S22）",
      text: "今井帰一が杉並区馬橋において建築土木用材料試験機製造を目的として丸東工場を発足"
    }
  ];


.el_lv2Heading_wrapper.un_general_heading_wrapper
  h2.el_lv2Heading company
    span.el_lv2Heading_jp 会社情報

section.un_company_section
  h3.el_lv3Heading.un_1stLetterTheme.un_borderBottom 会社概要

  table.bl_table2cols.__noAlternatingBgc.__narrowTh.__widePadding.__fzLg.__vat
    tbody
      tr
        th.hp_taj__md.hp_fw__normal 商号
        td 株式会社 丸東製作所
      tr
        th.hp_taj__md.hp_fw__normal 所在地
        td 〒135-0021　
          span.hp_lineFeed 東京都江東区白河2丁目15番4号
      tr
        th.hp_taj__md.hp_fw__normal 連絡先
        td
          a(href="tel:03-3643-2111").hp_lineFeed TEL：03-3643-2111(代表)　
          span.hp_lineFeed FAX：03-3643-0293　
          a(href="mailto:maruto@maruto-group.co.jp").hp_lineFeed E-mail maruto@maruto-group.co.jp
      tr
        th.hp_taj__md.hp_fw__normal 代表取締役
        td 今井 保行
      tr
        th.hp_taj__md.hp_fw__normal 設立
        td 1951（昭和26）年12月3日
      tr
        th.hp_taj__md.hp_fw__normal 資本金
        td 4,500万円
      tr
        th.hp_taj__md.hp_fw__normal 認証
        td ISO9001（認証対象：東京本社）
      tr
        th.hp_taj__md.hp_fw__normal 建設業許可
        td 一般建設業-機械器具設置工事業<br>
          | 東京都知事許可（般-3） 第115905号
      tr
        th.hp_taj__md.hp_fw__normal 加入団体
        td
          | 公益社団法人　地盤工学会（JGS）<br>
          | 社団法人　全国地質調査業協会連合会（全地連）<br>
          | 千葉県複合材料技術研究会<br>
          | 公益社団法人　土木学会（JSCE）<br>
          | 公益社団法人　日本コンクリート工学会（JCI）<br>
          | 日本試験機工業会（JTM）<br>
          | 一般社団法人　日本複合材料学会<br>
          | 公益社団法人　農業農村工学会（JSIDRE）<br>
          | 木場職業協会<br>
          | 公益社団法人　江東西法人会<br>
          | 東京商工会議所<br>
          | 一般社団法人　東京都江東産業連盟<br>
          | 深川交通協会
      tr
        th.hp_taj__md.hp_fw__normal 従業員数
        td 36名（令和2年5月現在）
      tr
        th.hp_taj__md.hp_fw__normal 取引銀行
        td
          | 三菱UFJ銀行　深川支店<br>
          | 三菱UFJ銀行　茨木駅前支店<br>
          | 日本政策金融公庫　東京支店<br>
          | 阿波銀行　東京支店<br>
          | 常陽銀行　谷田部支店<br>
          | 三井住友銀行　東京中央支店<br>
          | みずほ銀行　深川支店
      tr
        th.hp_taj__md.hp_fw__normal 筑波工場
        td 〒305-0864　
          span.hp_lineFeed 茨城県つくば市境松割地664番地7

section.un_company_section
  h3.el_lv3Heading.un_1stLetterTheme.un_borderBottom 会社沿革

  table.bl_table2cols.__noAlternatingBgc.__narrowTh.__widePadding.__vat
    tbody
      each item in history
        tr
          th.hp_fw__normal.un_company_th_narrowPd= item.year
          td !{item.text}

section.un_company_section
  figure.un_company_characters
    img(src="./assets/img/company/characters.png" alt="")