@use "../../utilities" as u;

$drawerWidth: u.rem(280);

.bl_nav {
  display: flex;
  position: fixed;
  height: 100vh;
  width: $drawerWidth;
  right: $drawerWidth * -1; // ハンバーガーボタンクリックされるまで画面右の表示領域外に隠しておく
  top: 0;
  background-color: u.$colorAccent;
  transition: right 0.3s;

  @include u.mq("lg") {
    position: static;
    height: 100%;
    width: 100%;
    background-color: transparent;
  }
}
// ハンバーガーボタンクリック時の動作
#hamburger_checkBox:checked ~ .bl_nav {
  right: 0;
}
.bl_nav_itemGroups {
  display: flex;
  flex-direction: column; // タテ方向に並べる
  padding: u.rem(48) u.rem(10) 0; // ドロワー全体の余白
  width: 100%;

  @include u.mq("lg") {
    display: flex; // pc版ではflex
    flex-direction: row;
    justify-content: flex-end; // 幅の中でヨコ方向均等割り付け
    height: 100%;
    width: 100%;
    padding: 0;
  }
}
.bl_nav_itemsWrapper {
  display: flex;
  flex-direction: column; // タテ方向に並べる

  @include u.mq("lg") {
    display: flex; // pc版ではflex
    flex-direction: row;
    justify-content: space-evenly; // 幅の中でヨコ方向均等割り付け
    height: 100%;
    width: 100%;
    padding: 0;
  }
}
.bl_nav_itemsWrapper.bl_nav_itemsWrapper__cta {
  justify-content: end;
  flex: 0;
}
.bl_nav_itemsWrapper.bl_nav_itemsWrapper__sns {
  flex-direction: row;
  flex-basis: u.rem(50);
  justify-content: space-around;
  align-items: center;

  @include u.mq("lg") {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: u.rem(150);
    justify-content: space-evenly;
    align-items: center;
  }
}
.bl_nav_itemsWrapper.bl_nav_itemsWrapper__sns .bl_nav_item {
  width: u.rem(32);
  height: auto;
  @include u.mq("lg") {
    width: u.rem(40);
  }
}
.bl_nav_itemsWrapper.bl_nav_itemsWrapper__sns .bl_nav_link::before {
  content: none;
}
.bl_nav_item {
  list-style: none;
  padding-top: u.rem(10);
  padding-bottom: u.rem(10);
  color: #fff;

  @include u.mq("lg") {
    display: flex; // 個別のナビリンクをヘッダー高さいっぱいにするためにここでタテ中央寄せしている
    align-items: center;
    height: 100%;
    padding: 0;
    color: u.$colorAccent;
  }
}
.bl_nav_item.bl_nav_item__theme,
.bl_nav_item.bl_nav_item__accent {
  width: 100%;

  @include u.mq("lg") {
    color: #fff;
    width: u.rem(100);
  }
}

.bl_nav_item.bl_nav_item__theme {
  @include u.mq("lg") {
    background-color: u.$colorTheme;
  }
}
.bl_nav_item.bl_nav_item__accent {
  @include u.mq("lg") {
    background-color: u.$colorAccent;
  }
}
.bl_nav_link {
  display: inline-block;
  position: relative;
  font-family: u.$fontBase;
  letter-spacing: normal;
  padding-top: u.rem(10);
  padding-bottom: u.rem(10);
  padding-left: u.rem(12);
  width: 100%;

  @include u.mq("lg") {
    display: block;
    padding: u.rem(10);
    text-align: center;
  }
}
// ハンバーガーメニューのナビリンクにつける装飾
.bl_nav_link::before {
  position: absolute;
  content: "";
  width: u.rem(7);
  height: u.rem(7);
  border-top: u.rem(2) solid #fff;
  border-right: u.rem(2) solid #fff;
  right: u.rem(20);
  top: 50%;
  transform: rotate(45deg) translateY(-50%);

  @include u.mq("lg") {
    content: none;
  }
}

.bl_nav_link.bl_nav_link__sns {
  width: 100%;
  padding-left: 0;

  @include u.mq("lg") {
    width: 100px;
  }
}

.bl_nav_link.bl_nav_link__sns > img {
}

.bl_nav_link_text {
  display: block;
  width: max-content;
  font-size: u.rem(14);
  line-height: 1;

  @include u.mq("lg") {
    width: 100%;
  }
}
.bl_nav_link_text.bl_nav_link_text__en {
  font-size: u.rem(20);
}

.bl_nav_drawerOverlay {
  display: none; // 平時は非表示
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  background-color: u.$colorBaseFont;
  transition: all 0.3s;
  z-index: 80;
}
// ハンバーガーボタンクリック時の動作
#hamburger_checkBox:checked ~ .bl_nav_drawerOverlay {
  display: block; // ハンバーガーボタンクリック時に表示
}
