doctype html
include ./utilities/_mixin.pug

- var path = "./"
- var title = "採用情報 | 株式会社丸東製作所"
- var descr = "";

html(lang="ja")
  head(prefix="og: http://ogp.me/ns#")
    +metaInfo(title, descr, './', false, 'page-recruit.html')
    +googleFonts

    //css
    link(rel="stylesheet", href=path+"assets/css/style.css")

  body
    +header(path)
    .bl_bgShape.bl_bgShape__v2
      main
        article
          include ./components/recruit/_recruit.pug
          include ./components/home/_contact.pug
          .un_recruit_pageBottom
      +footer(path)
    |
    |
    //jQuery
    script(src="https://code.jquery.com/jquery-3.4.1.js")
    |
    |
    //オリジナルjsスクリプト
    script(src=path + "assets/js/scripts.js")