mixin accordion(title)
  .bl_accordion_item
    .js_accordion_heading.bl_accordion_btn_wrapper
      button.un_products_subHeading.bl_accordion_btn.js_accordion(type="button") #{title}
    .bl_accordion_body
      .un_txtCard_wrapper
        .un_txtCard
          .un_txtCard_heading 密度試験
          .un_txtCard_list
            a(href="#").un_business_item_link.un_business_item_link__noBorder ルシャテリエ比重びん
        .un_txtCard
          .un_txtCard_heading 粉末度試験
          .un_txtCard_list
            a(href="#").un_business_item_link.un_business_item_link__noBorder 比表面積試験器<br>（ブレーン空気透過装置）
        .un_txtCard
          .un_txtCard_heading 安定性試験
          .un_txtCard_list
            a(href="#").un_business_item_link.un_business_item_link__noBorder 自動煮沸鍋
        .un_txtCard
          .un_txtCard_heading 凝結試験
          .un_txtCard_list
            a(href="#").un_business_item_link.un_business_item_link__noBorder 油圧降下式ビカー針装置
            a(href="#").un_business_item_link.un_business_item_link__noBorder 自動凝結試験機
            a(href="#").un_business_item_link.un_business_item_link__noBorder 自動セメント凝結試験機
        .un_txtCard.un_txtCard__wide
          .un_txtCard_heading 凝結試験
          .un_txtCard_list.un_txtCard_list__grid
            a(href="#").un_business_item_link.un_business_item_link__noBorder ハイパワーミキサ
            a(href="#").un_business_item_link.un_business_item_link__noBorder モルタル供試体成型型枠
            a(href="#").un_business_item_link.un_business_item_link__noBorder ミキサ用給砂装置
            a(href="#").un_business_item_link.un_business_item_link__noBorder 三連型枠
            a(href="#").un_business_item_link.un_business_item_link__noBorder モルタル･フロー試験器
            a(href="#").un_business_item_link.un_business_item_link__noBorder ストレートエッジ
            a(href="#").un_business_item_link.un_business_item_link__noBorder 電動式モルタル･フロー･テーブル
            a(href="#").un_business_item_link.un_business_item_link__noBorder 型枠用添枠
            a(href="#").un_business_item_link.un_business_item_link__noBorder フロー測定尺
            a(href="#").un_business_item_link.un_business_item_link__noBorder ガラス板
            a(href="#").un_business_item_link.un_business_item_link__noBorder テーブル･バイブレータ
            a(href="#").un_business_item_link.un_business_item_link__noBorder セメント試験用加圧板

//- mixin終了 *******************************

section.un_products_section
  .el_lv2Heading_wrapper.un_borderBottom
    h2.el_lv2Heading Products
      span.el_lv2Heading_jp 製品情報

section
  .un_products_categ
    h3.un_products_categ_heading カテゴリ別製品一覧
    .un_products_item_gridWrapper
      .un_business_item_grid
        a(href="#").un_business_item_link セメント・コンクリート試験機器
        a(href="#").un_business_item_link 岩石試験機器
        a(href="#").un_business_item_link 水理実験装置
        a(href="#").un_business_item_link 土質試験機器
        a(href="#").un_business_item_link アスファルト試験機器
        a(href="#").un_business_item_link 複合材料試験機器
        a(href="#").un_business_item_link 試験・研究用切断機
        a(href="#").un_business_item_link 工学系教育用実験模型
        a(href="#").un_business_item_link 力計（マルトー・リング）

section.un_products_items
  .un_products_item_headingWrapper
    h3.un_business_item_heading セメント・コンクリート試験機器

  .bl_accordion
    .bl_accordion_item
      .js_accordion_heading.bl_accordion_btn_wrapper
        button.un_products_subHeading.bl_accordion_btn.js_accordion(type="button") セメントの試験
      .bl_accordion_body
        .un_txtCard_wrapper
          .un_txtCard
            .un_txtCard_heading 密度試験
            .un_txtCard_list
              a(href="#").un_business_item_link.un_business_item_link__noBorder ルシャテリエ比重びん
          .un_txtCard
            .un_txtCard_heading 粉末度試験
            .un_txtCard_list
              a(href="#").un_business_item_link.un_business_item_link__noBorder 比表面積試験器<br>（ブレーン空気透過装置）
          .un_txtCard
            .un_txtCard_heading 安定性試験
            .un_txtCard_list
              a(href="#").un_business_item_link.un_business_item_link__noBorder 自動煮沸鍋
          .un_txtCard
            .un_txtCard_heading 凝結試験
            .un_txtCard_list
              a(href="#").un_business_item_link.un_business_item_link__noBorder 油圧降下式ビカー針装置
              a(href="#").un_business_item_link.un_business_item_link__noBorder 自動凝結試験機
              a(href="#").un_business_item_link.un_business_item_link__noBorder 自動セメント凝結試験機
          .un_txtCard.un_txtCard__wide
            .un_txtCard_heading 凝結試験
            .un_txtCard_list.un_txtCard_list__grid
              a(href="#").un_business_item_link.un_business_item_link__noBorder ハイパワーミキサ
              a(href="#").un_business_item_link.un_business_item_link__noBorder モルタル供試体成型型枠
              a(href="#").un_business_item_link.un_business_item_link__noBorder ミキサ用給砂装置
              a(href="#").un_business_item_link.un_business_item_link__noBorder 三連型枠
              a(href="#").un_business_item_link.un_business_item_link__noBorder モルタル･フロー試験器
              a(href="#").un_business_item_link.un_business_item_link__noBorder ストレートエッジ
              a(href="#").un_business_item_link.un_business_item_link__noBorder 電動式モルタル･フロー･テーブル
              a(href="#").un_business_item_link.un_business_item_link__noBorder 型枠用添枠
              a(href="#").un_business_item_link.un_business_item_link__noBorder フロー測定尺
              a(href="#").un_business_item_link.un_business_item_link__noBorder ガラス板
              a(href="#").un_business_item_link.un_business_item_link__noBorder テーブル･バイブレータ
              a(href="#").un_business_item_link.un_business_item_link__noBorder セメント試験用加圧板

    +accordion("骨材の試験")
    +accordion("コンクリートの試験")
    +accordion("転圧コンクリート舗装用試験機器（RCCP）")



