@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, picture, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*
独自リセット
css-wipeより抜粋
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* リセットCSSでは bodyのline-height:1 だが
  main要素の下に無駄な余白ができるので0にする */
/* mixins */
/* サイズ指定をremにする */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin-left: auto;
  margin-right: auto;
  font-family: "Noto Sans JP", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: normal;
  letter-spacing: 0em;
  color: #000;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
  }
}

::-moz-selection {
  background: #3e4962;
  color: #fff;
}

::selection {
  background: #3e4962;
  color: #fff;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

a {
  -webkit-transition: 0.1s opacity;
  transition: 0.1s opacity;
}

a:hover,
a:active {
  opacity: 0.6;
}

textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

img,
picture {
  width: 100%;
  display: block;
}

.ly_cont {
  max-width: 111rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.ly_cont__wide {
  max-width: 121rem;
}

.ly_header_spacer {
  height: 6rem;
}
@media screen and (min-width: 992px) {
  .ly_header_spacer {
    height: 10rem;
  }
}

.ly_header {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.ly_header.ly_header__fixed {
  position: fixed;
}
@media screen and (min-width: 992px) {
  .ly_header.ly_header__fixed {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.ly_center {
  margin-left: auto;
  margin-right: auto;
}

.ly_section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media screen and (min-width: 768px) {
  .ly_section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.bl_header {
  width: 100%;
  height: 6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  background-color: #fff;
  padding-left: 2rem;
}
@media screen and (min-width: 992px) {
  .bl_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10rem;
    padding-left: 3rem;
    padding-right: 0rem;
  }
}

.bl_header.bl_header__shadow {
  -webkit-box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.2);
}

.bl_header_navWrapper {
  width: auto;
}
@media screen and (min-width: 768px) {
  .bl_header_navWrapper {
    width: 75rem;
  }
}

.bl_header__fixed.js_header__narrow {
  height: auto;
  margin-top: 1.6rem;
}

.bl_header_overlay {
  display: none;
  position: fixed;
  left: 0;
  height: 0;
  width: 100vw;
  background-color: gray;
  opacity: 0.5;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

#hamburger_checkBox:checked ~ .bl_header_overlay {
  display: block;
  height: 100vh;
  z-index: 80;
}

.bl_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  height: 100vh;
  width: 28rem;
  right: -28rem;
  top: 0;
  background-color: #3e4962;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}
@media screen and (min-width: 992px) {
  .bl_nav {
    position: static;
    height: 100%;
    width: 100%;
    background-color: transparent;
  }
}

#hamburger_checkBox:checked ~ .bl_nav {
  right: 0;
}

.bl_nav_itemGroups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4.8rem 1rem 0;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .bl_nav_itemGroups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    width: 100%;
    padding: 0;
  }
}

.bl_nav_itemsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 992px) {
  .bl_nav_itemsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 0;
  }
}

.bl_nav_itemsWrapper.bl_nav_itemsWrapper__cta {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.bl_nav_itemsWrapper.bl_nav_itemsWrapper__sns {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 5rem;
      flex-basis: 5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 992px) {
  .bl_nav_itemsWrapper.bl_nav_itemsWrapper__sns {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 15rem;
        flex-basis: 15rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bl_nav_itemsWrapper.bl_nav_itemsWrapper__sns .bl_nav_item {
  width: 3.2rem;
  height: auto;
}
@media screen and (min-width: 992px) {
  .bl_nav_itemsWrapper.bl_nav_itemsWrapper__sns .bl_nav_item {
    width: 4rem;
  }
}

.bl_nav_itemsWrapper.bl_nav_itemsWrapper__sns .bl_nav_link::before {
  content: none;
}

.bl_nav_item {
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;
}
@media screen and (min-width: 992px) {
  .bl_nav_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0;
    color: #3e4962;
  }
}

.bl_nav_item.bl_nav_item__theme,
.bl_nav_item.bl_nav_item__accent {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .bl_nav_item.bl_nav_item__theme,
  .bl_nav_item.bl_nav_item__accent {
    color: #fff;
    width: 10rem;
  }
}

@media screen and (min-width: 992px) {
  .bl_nav_item.bl_nav_item__theme {
    background-color: #1d2087;
  }
}

@media screen and (min-width: 992px) {
  .bl_nav_item.bl_nav_item__accent {
    background-color: #3e4962;
  }
}

.bl_nav_link {
  display: inline-block;
  position: relative;
  font-family: "Noto Sans JP", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: normal;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.2rem;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .bl_nav_link {
    display: block;
    padding: 1rem;
    text-align: center;
  }
}

.bl_nav_link::before {
  position: absolute;
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  border-top: 0.2rem solid #fff;
  border-right: 0.2rem solid #fff;
  right: 2rem;
  top: 50%;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}
@media screen and (min-width: 992px) {
  .bl_nav_link::before {
    content: none;
  }
}

.bl_nav_link.bl_nav_link__sns {
  width: 100%;
  padding-left: 0;
}
@media screen and (min-width: 992px) {
  .bl_nav_link.bl_nav_link__sns {
    width: 100px;
  }
}

.bl_nav_link_text {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.4rem;
  line-height: 1;
}
@media screen and (min-width: 992px) {
  .bl_nav_link_text {
    width: 100%;
  }
}

.bl_nav_link_text.bl_nav_link_text__en {
  font-size: 2rem;
}

.bl_nav_drawerOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 80;
}

#hamburger_checkBox:checked ~ .bl_nav_drawerOverlay {
  display: block;
}

.bl_MV {
  width: 100%;
  height: auto;
  aspect-ratio: 390/784;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .bl_MV {
    aspect-ratio: 1920/980;
  }
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide::after {
  position: absolute;
  content: "";
  background-color: #3e4962;
  mix-blend-mode: soft-light;
  width: 100%;
  height: 100%;
}

.swiper-slide > img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.bl_MV_heading_wrapper {
  position: relative;
  gap: 4rem;
}

.bl_MV_heading {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}

.bl_bgShape {
  position: relative;
}

.bl_bgShape::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(75% 0, 0 0, 0 100%);
          clip-path: polygon(75% 0, 0 0, 0 100%);
  background-color: #ecedef;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .bl_bgShape::before {
    -webkit-clip-path: polygon(44% 0, 0 0, 0 100%);
            clip-path: polygon(44% 0, 0 0, 0 100%);
  }
}

.bl_bgShape.bl_bgShape__v2::before {
  -webkit-clip-path: polygon(50% 0, 0 0, 0 100%);
          clip-path: polygon(50% 0, 0 0, 0 100%);
}
@media screen and (min-width: 768px) {
  .bl_bgShape.bl_bgShape__v2::before {
    -webkit-clip-path: polygon(35% 0, 0 0, 0 100%);
            clip-path: polygon(35% 0, 0 0, 0 100%);
  }
}

.bl_news_section {
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  .bl_news_section {
    padding-top: 12rem;
    padding-bottom: 3.8rem;
  }
}

.bl_news_wrapper {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .bl_news_wrapper {
    padding-top: 3rem;
  }
}

.bl_news_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-bottom: 1px solid #999;
}
@media screen and (min-width: 768px) {
  .bl_news_item {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
  }
}

.bl_news_item:first-child {
  border-top: 1px solid #999;
}

.bl_news_item_icon {
  width: 1.5rem;
  height: 2.72rem;
}
@media screen and (min-width: 768px) {
  .bl_news_item_icon {
    height: 3.4rem;
    margin-left: 4.6%;
  }
}

.bl_news_item_date {
  font-weight: bold;
  width: 10rem;
  color: #1d2087;
  margin-left: 3.5%;
}

.bl_news_item_text {
  width: auto;
  color: #666;
  margin-left: 3.5%;
}

.bl_accordion {
  padding-top: 0rem;
}

.bl_accordion_item {
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bl_accordion_item.is_active {
  padding-bottom: 2rem;
}

.bl_accordion_btn_wrapper {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #999;
}

.bl_accordion_btn {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-right: 5rem;
  padding-left: 0;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7;
  text-align: left;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bl_accordion_btn::before,
.bl_accordion_btn::after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 0.3rem;
  width: 2.4rem;
  background-color: #1d2087;
  right: 1.5rem;
  top: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bl_accordion_btn.__sm::before,
.bl_accordion_btn.__sm::after {
  width: 1.6rem;
}

.bl_accordion_btn::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.bl_accordion_btn.is_active::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.bl_accordion_body {
  display: none;
  background-color: transparent;
  border: none;
}

.bl_accordion_body.is_active {
  display: block;
}

.bl_accordion_body > *:last-child {
  margin-bottom: 0;
}

.bl_breadcrumb {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 0rem;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .bl_breadcrumb {
    padding-top: 3.6rem;
    padding-bottom: 4rem;
  }
}

.bl_breadcrumb li {
  display: inline;
  list-style: none;
  font-weight: normal;
  font-size: 1.2rem;
  color: #000;
}
@media screen and (min-width: 768px) {
  .bl_breadcrumb li {
    font-size: 1.4rem;
  }
}

.bl_breadcrumb li:last-child {
  color: #808080;
}

.bl_breadcrumb li:after {
  /* >を表示*/
  content: ">";
  padding: 0 0.2em;
  color: inherit;
}

.bl_breadcrumb li:last-child:after {
  content: "";
}

.bl_breadcrumb li a {
  text-decoration: none;
}

.bl_breadcrumb li a:hover {
  text-decoration: underline;
}

.bl_underlineAnimation {
  position: relative;
}

.bl_underlineAnimation:hover,
.bl_underlineAnimation:active,
.bl_underlineAnimation:focus-visible {
  opacity: 1;
}

.bl_underlineAnimation::after {
  content: none;
}
@media screen and (min-width: 768px) {
  .bl_underlineAnimation::after {
    position: absolute;
    content: "";
    border-bottom: solid 0.3rem #1d2087;
    width: 0;
    bottom: 0rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.bl_underlineAnimation:hover::after, .bl_underlineAnimation:active::after, .bl_underlineAnimation:focus-visible::after {
  width: 100%;
}

.bl_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 118.4rem;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .bl_media {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.bl_media_img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .bl_media_img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 39%;
            flex: 0 0 39%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.bl_media_img.bl_media_img__v2 {
  -ms-flex-preferred-size: 19.1rem;
      flex-basis: 19.1rem;
  width: 19.1rem;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}
@media screen and (min-width: 768px) {
  .bl_media_img.bl_media_img__v2 {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.bl_media_body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%;
}

.bl_media_body.bl_media_body__v2 {
  -ms-flex-preferred-size: 64.5454545455%;
      flex-basis: 64.5454545455%;
  margin-right: 6.3636363636%;
}
@media screen and (min-width: 768px) {
  .bl_media_body.bl_media_body__v2 {
    margin-right: 0;
  }
}

.bl_table2cols {
  width: 100%;
  font-size: 1.6rem;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .bl_table2cols {
    border-collapse: separate;
    border-spacing: 0.5rem 0;
    margin-top: 2rem;
  }
}

.bl_table2cols th,
.bl_table2cols td {
  vertical-align: middle;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .bl_table2cols th,
  .bl_table2cols td {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
  }
}

.bl_table2cols tr th,
.bl_table2cols tr td {
  background-color: rgba(62, 73, 98, 0.1);
}

@media screen and (min-width: 768px) {
  .bl_table2cols tr:nth-of-type(2n) th,
  .bl_table2cols tr:nth-of-type(2n) td {
    background-color: transparent;
  }
}

.bl_table2cols th {
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: left;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .bl_table2cols th {
    display: table-cell;
    width: 30%;
    margin-top: 0;
  }
}

.bl_table2cols td {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .bl_table2cols td {
    display: table-cell;
    width: auto;
    margin-top: 0;
  }
}

.bl_table2cols td ol {
  padding-left: 2.2rem;
}

.bl_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 12rem;
  color: #fff;
  background-color: #3e4962;
}
@media screen and (min-width: 768px) {
  .bl_footer {
    height: 25rem;
  }
}

.bl_footer_nav {
  font-size: 1.2rem;
  text-align: center;
  width: auto;
}
@media screen and (min-width: 768px) {
  .bl_footer_nav {
    font-size: 1.4rem;
  }
}

.bl_footer_nav_link {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

.bl_footer_nav_link::before {
  position: absolute;
  content: "|";
  color: #fff;
  height: auto;
  width: auto;
  left: -1rem;
}

.bl_footer_nav_link:first-child:before {
  content: none;
}

.bl_card_grid {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-column-gap: 6%;
     -moz-column-gap: 6%;
          column-gap: 6%;
  row-gap: 5.6rem;
  padding-top: 0.8rem;
}
@media screen and (min-width: 768px) {
  .bl_card_grid {
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    padding-top: 1.6rem;
    row-gap: 3.2rem;
  }
}

.bl_card {
  color: #000;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 0.1rem transparent;
}

.bl_card_date {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1d2087;
}
@media screen and (min-width: 768px) {
  .bl_card_date {
    font-size: 2.4rem;
  }
}

.bl_card_imgWrapper {
  position: relative;
  padding-top: 70.5882352941%;
  overflow: hidden;
  text-align: left;
  margin-top: 1rem;
}

.bl_card_imgWrapper > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.bl_card_heading {
  font-weight: 700;
  font-size: 2rem;
  font-weight: bold;
  line-height: 166.6666666667%;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .bl_card_heading {
    font-size: 2.4rem;
  }
}

.bl_pagination_wrapper {
  padding-top: 12rem;
}

.bl_pagination {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}
@media screen and (min-width: 768px) {
  .bl_pagination {
    gap: 4rem;
  }
}

.bl_page_link {
  display: block;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 2.4rem;
  text-decoration: none;
  color: #fff;
  text-align: center;
  background-color: #8b92a1;
  border-radius: 0;
}
@media screen and (min-width: 768px) {
  .bl_page_link {
    font-size: 3rem;
    line-height: 6rem;
    width: 6rem;
    height: 6rem;
  }
}

.bl_page_item.active .bl_page_link {
  background-color: #1d2087;
  color: #fff;
}

.bl_simpleTextLines {
  color: #fff;
  background-color: #676464;
  padding: 1.2rem 3.90625%;
}

.bl_simpleTextLines_line > span {
  padding-left: 3.2rem;
}

.bl_priceTable_wrapper {
  width: 50rem;
  max-width: 100%;
  padding-top: 4rem;
}
@media screen and (min-width: 768px) {
  .bl_priceTable_wrapper {
    width: 40rem;
  }
}

.bl_priceTable {
  width: 100%;
}

.bl_priceTable_heading {
  color: #1d2087;
  padding-bottom: 0.9rem;
  border-bottom: 0.1rem solid #1d2087;
}

.bl_priceTable_row.bl_priceTable_row__header {
  text-align: left;
  padding-top: 3.1rem;
}

.bl_priceTable_row > td:nth-child(1),
.bl_priceTable_row.bl_priceTable_row__header > th:nth-child(1) {
  text-align: left;
}

.bl_priceTable_row > td:nth-child(2),
.bl_priceTable_row.bl_priceTable_row__header > th:nth-child(2) {
  text-align: right;
}

.bl_priceTable_row {
  border-bottom: 0.1rem solid #ddd;
}

.bl_priceTable_row.bl_priceTable_row__header > th {
  padding-top: 2.8rem;
  padding-bottom: 0.4rem;
}

.bl_priceTable_row > td {
  padding-top: 1.2rem;
  padding-bottom: 1rem;
}

.bl_priceTable_row:nth-child(2) > td {
  padding-top: 2.8rem;
  padding-bottom: 1rem;
}

.bl_priceTable_note {
  padding-top: 1.4rem;
}

.un_access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bl_access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 88rem;
  max-width: 100%;
  padding-top: 4rem;
}
@media screen and (min-width: 992px) {
  .bl_access {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1.6rem;
  }
}

.bl_access_mapWrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42.0454545455%;
          flex: 0 0 42.0454545455%;
  height: 46.3rem;
  border: 0.2rem solid #1d2087;
}
@media screen and (min-width: 992px) {
  .bl_access_mapWrapper {
    -ms-flex-preferred-size: 60vw;
        flex-basis: 60vw;
    width: 90vw;
    margin-top: 2.4rem;
  }
}

.bl_access_mapWrapper > iframe {
  width: 100%;
  height: 100%;
}

.bl_addressTable_wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .bl_addressTable_wrapper {
    text-align: center;
  }
}

.bl_addressTable_heading {
  padding-bottom: 0.9rem;
}

.bl_addressTable_row > th {
  text-align: left;
}
@media screen and (min-width: 576px) {
  .bl_addressTable_row > th {
    width: 14rem;
  }
}

.bl_addressTable_row > td {
  text-align: left;
}

.bl_addressTable_row {
  border-bottom: 0.1rem solid #ddd;
}

.bl_addressTable_row:last-child {
  border-bottom: none;
}

.bl_addressTable_row:first-child > th {
  padding-top: 2.8rem;
  padding-bottom: 0.4rem;
}

.bl_addressTable_row > td {
  font-weight: 400;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 576px) {
  .bl_addressTable_row > td {
    padding-left: 0.8rem;
    padding-right: 0rem;
  }
}

.bl_addressTable_row > td > a {
  text-decoration: underline;
  text-decoration-color: #1d2087;
}

.bl_MV_subpages {
  position: relative;
  font-weight: 600;
  background-image: url("../../assets/img/MV_subpages.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 10.9vw;
  padding-bottom: 7.1vw;
}

.bl_MV_subpages {
  position: relative;
  background-image: url("../../assets/img/MV_subpages.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 10.9vw;
  padding-bottom: 7.1vw;
}

.bl_faq {
  padding-bottom: 10rem;
}

.bl_faq_q,
.bl_faq_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.2rem;
  font-size: 1.6rem;
  line-height: 1.375;
}
@media screen and (min-width: 768px) {
  .bl_faq_q,
  .bl_faq_a {
    font-size: 2rem;
    gap: 1.2rem;
  }
}

.bl_faq_a {
  font-weight: 400;
}

.bl_faq_q figure,
.bl_faq_a figure {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 4rem;
  height: 7.1rem;
}
@media screen and (min-width: 768px) {
  .bl_faq_q figure,
  .bl_faq_a figure {
    height: 6rem;
  }
}

.bl_faq_q img,
.bl_faq_a img {
  width: auto;
  height: 100%;
}

.bl_faq_item {
  border-bottom: 0.1rem solid #ddd;
  padding-top: 2rem;
  padding-bottom: 24px;
}

.el_hamburger {
  height: 100%;
}

.el_hamburger_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: transparent;
  border-radius: 0.4rem;
  height: 3.2rem;
  width: 3.6rem;
  top: 1rem;
  right: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -0.2rem;
  cursor: pointer;
  z-index: 90;
}
@media screen and (min-width: 992px) {
  .el_hamburger_btn {
    display: none;
  }
}

.el_hamburger_btn::after {
  position: absolute;
  content: "menu";
  font-size: 1.2rem;
  color: #1d2087;
  bottom: -1.2rem;
}

.el_hamburger_btn span,
.el_hamburger_btn span:before,
.el_hamburger_btn span:after {
  position: absolute;
  content: "";
  display: block;
  height: 0.2rem;
  width: 3.3rem;
  border-radius: 0.3rem;
  background-color: #1d2087;
}

.el_hamburger_btn span:before {
  bottom: 0.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.el_hamburger_btn span:after {
  top: 0.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#hamburger_checkBox {
  display: none;
}

#hamburger_checkBox:checked ~ .el_hamburger_btn::after {
  opacity: 0;
}

#hamburger_checkBox:checked ~ .el_hamburger_btn span {
  background-color: transparent;
}
#hamburger_checkBox:checked ~ .el_hamburger_btn span::before {
  bottom: 0;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#hamburger_checkBox:checked ~ .el_hamburger_btn span::after {
  top: 0;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.el_logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23rem;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .el_logo_wrapper {
    width: 30rem;
  }
}

.el_logo > img {
  -o-object-fit: contain;
     object-fit: contain;
}

.el_btn_wrapper {
  color: #1d2087;
  text-align: center;
  padding-top: 0.8rem;
}
@media screen and (min-width: 768px) {
  .el_btn_wrapper {
    padding-top: 3.8rem;
  }
}

.el_btn {
  display: inline-block;
  position: relative;
  width: 18rem;
  max-width: 100%;
  padding: 1.2rem;
  background-color: transparent;
  border: 0.1rem solid #1d2087;
  border-radius: 0rem;
  color: #1d2087;
  font-family: "Noto Sans JP", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .el_btn {
    width: 24rem;
    font-size: 1.6rem;
    padding: 1.2rem;
  }
}

.el_btn.el_btn__filled {
  background-color: #1d2087;
  color: #fff;
}

.el_btn.el_btn__whiteBorder {
  border-color: #fff;
}

.el_btn.el_btn__icon {
  position: relative;
}

.el_btn.el_btn__icon::after {
  position: absolute;
  content: "";
  background-image: url("../../assets/img/common/icon_listArrow__white.svg");
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  right: 1.8rem;
}

.el_btn.el_btn__icon:hover:after {
  background-image: url("../../assets/img/common/icon_listArrow.svg");
}

.el_btn.el_btn__round {
  margin-top: 0.3rem;
  border-radius: 99.9rem;
}

.el_btn.el_btn__sm {
  width: auto;
}

.el_btn.el_btn__lg {
  width: 30rem;
  font-size: 2rem;
  font-weight: normal;
}

.el_btn.el_btn__xlg {
  width: auto;
  font-size: 2rem;
  line-height: 1;
  font-weight: 500;
  padding: 2.2rem 4rem;
}
@media screen and (min-width: 768px) {
  .el_btn.el_btn__xlg {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 992px) {
  .el_btn.el_btn__longTxt {
    padding: 1.3rem 6% 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .el_btn.el_btn__longTxt {
    padding: 1rem 2rem 1.1rem;
  }
}

.el_btn:focus,
.el_btn:hover {
  background-color: #1d2087;
  color: #fff;
  opacity: 1;
}

.el_btn.el_btn__filled:focus,
.el_btn.el_btn__filled:hover {
  background-color: #fff;
  color: #1d2087;
}

.el_btn__offsetBorder {
  border: none;
  left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .bl_nav_link.el_btn__offsetBorder {
    left: 0;
  }
}

.el_btn__offsetBorder::after {
  content: "";
  display: inline-block;
  border: 0.1rem solid #1d2087;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.el_btn__offsetBorder.el_btn__round::after {
  border-radius: 99.9rem;
}

.el_btn__offsetBorder.el_btn__offsetBorder__white::after {
  border-color: #fff;
}

.el_btn__offsetBorder.el_btn__offsetBorder__accent::after {
  border-color: #1d2087;
}

.el_btn__offsetBorder:hover,
.el_btn__offsetBorder:focus {
  -webkit-transform: translate(-0.1rem, -0.1rem);
          transform: translate(-0.1rem, -0.1rem);
}

.el_btn__offsetBorder:hover::after,
.el_btn__offsetBorder:focus::after {
  -webkit-transform: translate(0.5rem, 0.5rem);
          transform: translate(0.5rem, 0.5rem);
}

@media screen and (min-width: 768px) {
  .bl_nav_link.el_btn__offsetBorder:hover,
  .bl_nav_link.el_btn__offsetBorder:focus {
    -webkit-transform: none;
            transform: none;
  }
}

.el_btn__offsetBorder:active {
  -webkit-transform: translate(0.3rem, 0.3rem);
          transform: translate(0.3rem, 0.3rem);
}

.el_btnWrapper {
  text-align: center;
}

@media screen and (min-width: 576px) {
  .el_btnWrapper__w100Sm {
    -moz-text-align-last: center;
         text-align-last: center;
  }
}

@media screen and (min-width: 576px) {
  .el_btnWrapper__w100Sm > .el_btn {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .el_btnWrapper.el_btnWrapper__2cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

.el_btnWrapper.el_btnWrapper__2cols > .el_btn {
  margin-right: 15%;
}
@media screen and (min-width: 576px) {
  .el_btnWrapper.el_btnWrapper__2cols > .el_btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.el_btnWrapper.el_btnWrapper__2cols > .el_btn:last-child {
  margin-right: 0;
}
@media screen and (min-width: 576px) {
  .el_btnWrapper.el_btnWrapper__2cols > .el_btn:last-child {
    margin-right: auto;
    margin-top: 3rem;
  }
}

.el_lv1Heading_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
  color: #fff;
}

.el_lv1Heading {
  display: block;
  font-size: 10vw;
  line-height: 1.1111111111;
  font-weight: bold;
  padding-top: 1.3rem;
}
@media screen and (min-width: 768px) {
  .el_lv1Heading {
    font-size: 5vw;
  }
}
.el_lv1Heading_shoulder {
  display: block;
  font-size: 1.8rem;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .el_lv1Heading_shoulder {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 992px) {
  .el_lv1Heading_shoulder {
    font-size: 2.5rem;
  }
}

.el_lv2Heading_wrapper {
  padding-bottom: 3rem;
}

.el_lv2Heading {
  position: relative;
  font-family: inherit;
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
  padding-left: 3rem;
}
@media screen and (min-width: 768px) {
  .el_lv2Heading {
    font-size: 5rem;
    padding-left: 5rem;
  }
}

.el_lv2Heading::first-letter {
  color: #1d2087;
}

.el_lv2Heading::before {
  position: absolute;
  content: "";
  background-image: url("../../assets/img/common/icon_listArrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  left: 0;
  bottom: 0.3rem;
}
@media screen and (min-width: 768px) {
  .el_lv2Heading::before {
    width: 3rem;
    height: 3rem;
    bottom: 0.6rem;
  }
}

.el_lv2Heading.el_lv2Heading__noDeco {
  display: inline-block;
  padding-left: 0;
}

.el_lv2Heading.el_lv2Heading__noDeco::before {
  content: none;
}

.el_lv2Heading_jp {
  position: absolute;
  font-size: 1.5rem;
  font-weight: normal;
  padding-left: 1.5rem;
  bottom: 0.1rem;
}
@media screen and (min-width: 768px) {
  .el_lv2Heading_jp {
    font-size: 2rem;
    padding-left: 3rem;
    bottom: 0.3rem;
  }
}

.el_lv3Heading {
  font-size: 2rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .el_lv3Heading {
    font-size: 2.4rem;
  }
}

.el_lv3Heading.__fz_lg {
  font-size: 2.4rem;
}
@media screen and (min-width: 768px) {
  .el_lv3Heading.__fz_lg {
    font-size: 3rem;
  }
}

.el_badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
  height: 13.7rem;
  width: 25.2rem;
  padding: 0.4rem;
  background-color: #1d2087;
  border: 1px solid transparent;
  border-radius: 99.9rem;
}
.el_dots {
  position: relative;
}

.el_dots::after,
.el_dots::before {
  content: "";
  background-color: #1d2087;
  border-radius: 50%;
  position: absolute;
}

.el_dots::after {
  height: 1.5rem;
  width: 1.5rem;
  left: 0;
  bottom: -0.1rem;
}

.el_dots::before {
  height: 1rem;
  width: 1rem;
  left: -1.5rem;
  bottom: -0.9rem;
}

.el_copyright {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  padding: 2rem 0 0;
  background-color: #3e4962;
}
@media screen and (min-width: 768px) {
  .el_copyright {
    font-size: 1.4rem;
  }
}

/*スクロールダウン全体の場所*/
.el_scrolldown_wrapper {
  position: relative;
}

.el_scrolldown {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  left: 50%;
  bottom: 10px;
  /*全体の高さ*/
  height: 50px;
}

/*Scrollテキストの描写*/
.el_scrolldown span {
  position: absolute;
  top: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}

/* 線の描写 */
.el_scrolldown::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background: #fff;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  -webkit-animation: pathmove 1.4s ease-in-out infinite;
          animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@-webkit-keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
.el_arrow_right {
  position: relative;
}

.el_arrow_right::after {
  position: absolute;
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-top: 0.3rem solid #1d2087;
  border-right: 0.3rem solid #1d2087;
  right: 2rem;
  top: 50%;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}
@media screen and (min-width: 768px) {
  .el_arrow_right::after {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.el_listMarkIcon {
  position: relative;
  padding-left: 2.4rem;
}
@media screen and (min-width: 768px) {
  .el_listMarkIcon {
    padding-left: 3rem;
  }
}

.el_listMarkIcon::before {
  position: absolute;
  content: "";
  background-image: url("../../assets/img/common/icon_listArrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  left: 0;
  top: 0.6rem;
}
@media screen and (min-width: 768px) {
  .el_listMarkIcon::before {
    top: 1rem;
  }
}

/**********************
  共通使用
***********************/
.un_2line_sectionTitle {
  text-align: center;
}

.un_2line_title_jp {
  display: block;
}

.un_general_heading_wrapper {
  padding-top: 4rem;
  padding-bottom: 2.4rem;
}
@media screen and (min-width: 768px) {
  .un_general_heading_wrapper {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
}

.un_dummy_content {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/**********************
  Businessセクション
***********************/
.un_business_section {
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  .un_business_section {
    padding-top: 12rem;
    padding-bottom: 3.6rem;
  }
}

.un_business_wrapper {
  padding-top: 1.6rem;
}
@media screen and (min-width: 768px) {
  .un_business_wrapper {
    padding-top: 3.2rem;
  }
}

.un_business_item {
  padding: 1.4rem 0rem 2rem;
  border-bottom: none;
}
@media screen and (min-width: 576px) {
  .un_business_item {
    border-bottom: 1px solid #999;
  }
}
@media screen and (min-width: 768px) {
  .un_business_item {
    padding-left: 5.4rem;
    padding-top: 2rem;
  }
}

.un_business_item:first-of-type {
  border-top: 1px solid #999;
}
@media screen and (min-width: 576px) {
  .un_business_item:first-of-type {
    padding-bottom: 3.4rem;
  }
}

.un_business_item_link.un_business_item_link__noBorder {
  border: none;
}

.un_business_item_link.un_business_item_link__noBorder:first-of-type {
  border: none;
}

.un_business_item_heading {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 2rem;
}
@media screen and (min-width: 768px) {
  .un_business_item_heading {
    font-size: 2.4rem;
    padding-left: 3.2rem;
  }
}

.un_business_item_heading::before {
  position: absolute;
  content: "";
  background-image: url("../../assets/img/common/icon_listArrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .un_business_item_heading::before {
    width: 2rem;
    height: 2rem;
  }
}

.un_business_item_heading::first-letter {
  color: #1d2087;
}

.un_business_item_gridWrapper {
  padding-left: 3.2rem;
  padding-top: 0.4rem;
}
@media screen and (min-width: 768px) {
  .un_business_item_gridWrapper {
    padding-top: 1.2rem;
  }
}

.un_business_item_subHeading {
  font-size: 1.6rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .un_business_item_subHeading {
    font-size: 2rem;
  }
}

.un_business_item_grid {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-column-gap: 0.2rem;
     -moz-column-gap: 0.2rem;
          column-gap: 0.2rem;
  padding-top: 0.8rem;
}
@media screen and (min-width: 576px) {
  .un_business_item_grid {
    row-gap: 1.6rem;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }
}
@media screen and (min-width: 768px) {
  .un_business_item_grid {
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    padding-top: 1.6rem;
  }
}

.un_business_item_link {
  display: block;
  position: relative;
  font-size: 1.6rem;
  line-height: 1;
  padding-left: 2.4rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #999;
  margin-right: 2.4rem;
}
@media screen and (min-width: 576px) {
  .un_business_item_link {
    margin-right: 0;
    border-bottom: none;
  }
}
@media screen and (min-width: 768px) {
  .un_business_item_link {
    font-size: 2rem;
    padding-left: 3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
}

.un_business_item_link:first-child {
  border-top: 1px solid #999;
}
@media screen and (min-width: 576px) {
  .un_business_item_link:first-child {
    border-top: none;
  }
}

.un_business_item_link::before {
  position: absolute;
  content: "";
  background-image: url("../../assets/img/common/icon_listArrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  left: 0;
  top: 1.7rem;
}
@media screen and (min-width: 768px) {
  .un_business_item_link::before {
    top: 1rem;
  }
}

/**********************
  Contactセクション
***********************/
.un_contact_section {
  padding-top: 2.4rem;
  padding-bottom: 1.8rem;
}
@media screen and (min-width: 768px) {
  .un_contact_section {
    padding-top: 10rem;
    padding-bottom: 3.6rem;
  }
}

.un_contact_lead {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0rem;
}
@media screen and (min-width: 768px) {
  .un_contact_lead {
    font-size: 1.8rem;
    padding-top: 2.8rem;
  }
}

.un_contact_boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .un_contact_boxes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 5rem;
  }
}

.un_contact_box {
  width: 100%;
  height: 18rem;
  text-align: center;
  background-color: greenyellow;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .un_contact_box {
    width: 50%;
    height: 30rem;
    padding-top: 7.6rem;
  }
}

.un_contact_box.un_contact_box__theme {
  background-color: #1d2087;
}

.un_contact_box.un_contact_box__accent {
  background-color: #3e4962;
}

.un_contact_box_heading {
  font-size: 2rem;
}

.un_contact_box_tel {
  display: block;
  font-size: 3.5rem;
  font-weight: bold;
  padding-top: 0rem;
}
@media screen and (min-width: 768px) {
  .un_contact_box_tel {
    padding-top: 1rem;
    font-size: 4rem;
  }
}

.un_contact_box_time {
  display: block;
  font-size: 1.6rem;
  padding-top: 0.8rem;
}
@media screen and (min-width: 768px) {
  .un_contact_box_time {
    padding-top: 0;
  }
}

.un_contact_box_btnWrapper {
  padding-top: 2.8rem;
}

.un_contact_box_btnWrapper > .el_btn {
  padding: 1.2rem;
  margin-top: -0.5rem;
  width: 24rem;
}
@media screen and (min-width: 768px) {
  .un_contact_box_btnWrapper > .el_btn {
    margin-top: 0;
  }
}

/**********************
  twitterセクション
***********************/
.un_twitter_section {
  padding-top: 16rem;
  padding-bottom: 15rem;
}

.twitter-timeline.twitter-timeline-rendered {
  margin-left: auto;
  margin-right: auto;
}

/**********************
  productsページ
***********************/
.un_products_section {
  padding-top: 10rem;
}

.un_products_categ {
  padding: 1.4rem 0rem 2rem;
  border-bottom: none;
}
@media screen and (min-width: 576px) {
  .un_products_categ {
    border-bottom: 1px solid #999;
  }
}
@media screen and (min-width: 768px) {
  .un_products_categ {
    padding-top: 2rem;
  }
}

.un_products_categ_heading {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .un_products_categ_heading {
    font-size: 2.4rem;
  }
}

.un_products_item_gridWrapper {
  padding-top: 0.4rem;
  padding-left: 2.4rem;
}
@media screen and (min-width: 768px) {
  .un_products_item_gridWrapper {
    padding-top: 0.6rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
  }
}

.un_products_item_headingWrapper {
  padding-top: 5rem;
  padding-bottom: 2.2rem;
}

.un_products_subHeading {
  font-size: 1.8rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .un_products_subHeading {
    font-size: 2.4rem;
  }
}

.un_txtCard_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-column-gap: 0.2rem;
     -moz-column-gap: 0.2rem;
          column-gap: 0.2rem;
  padding-top: 2.5rem;
}
@media screen and (min-width: 576px) {
  .un_txtCard_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    -webkit-column-gap: 4.1666666667%;
       -moz-column-gap: 4.1666666667%;
            column-gap: 4.1666666667%;
    row-gap: 3rem;
    padding-top: 2.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .un_txtCard_wrapper {
    grid-template-columns: minmax(33rem, 1fr) minmax(33rem, 1fr) minmax(33rem, 1fr);
    grid-template-rows: 1fr auto;
    -webkit-column-gap: 4.1666666667%;
       -moz-column-gap: 4.1666666667%;
            column-gap: 4.1666666667%;
    row-gap: 3rem;
    padding-top: 2.5rem;
  }
}

.un_txtCard {
  grid-column: auto;
  grid-row: auto;
}

.un_txtCard.un_txtCard__wide {
  grid-column: 1fr;
  grid-row: auto;
}
@media screen and (min-width: 576px) {
  .un_txtCard.un_txtCard__wide {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1200px) {
  .un_txtCard.un_txtCard__wide {
    grid-column: 2/4;
  }
}

.un_txtCard_heading {
  border: 1px solid #1d2087;
  padding-left: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.un_txtCard_list {
  padding-top: 0;
  padding-bottom: 1.2rem;
  padding-left: 1.2rem;
}
@media screen and (min-width: 576px) {
  .un_txtCard_list {
    padding-top: 1.2rem;
    padding-left: 1.2rem;
  }
}

.un_txtCard_list.un_txtCard_list__grid {
  display: grid;
}
@media screen and (min-width: 576px) {
  .un_txtCard_list.un_txtCard_list__grid {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }
}
@media screen and (min-width: 768px) {
  .un_txtCard_list.un_txtCard_list__grid {
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  }
}

.un_products_items {
  padding-bottom: 100px;
}

/**********************
  products詳細ページ
***********************/
.un_lv2hdg {
  font-size: 2rem;
  padding-bottom: 0.2rem;
}
@media screen and (min-width: 768px) {
  .un_lv2hdg {
    font-size: 2.4rem;
    padding-bottom: 0.8rem;
  }
}

.un_lv3hdg {
  font-size: 2rem;
  padding-bottom: 0.4rem;
}
@media screen and (min-width: 768px) {
  .un_lv3hdg {
    font-size: 2.4rem;
    padding-bottom: 0.8rem;
  }
}

.un_borderBottom {
  border-bottom: 1px solid #999;
}

.un_normalTxt {
  font-size: 1.6rem;
  padding-top: 1.4rem;
}

.un_product_details_section {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  .un_product_details_section {
    padding-top: 2.8rem;
    padding-bottom: 1.2rem;
  }
}

.un_product_details_section .bl_media_img {
  padding-top: 1rem;
}

.un_product_details_spImg {
  padding-top: 1.6rem;
}

.un_product_markedList {
  font-size: 1.6rem;
  list-style: disc;
  padding-left: 3.2rem;
  padding-top: 2rem;
}

.un_product_details_btn_wrapper {
  text-align: center;
  padding-top: 5.2rem;
  padding-bottom: 4.4rem;
}
@media screen and (min-width: 768px) {
  .un_product_details_btn_wrapper {
    padding-top: 2.4rem;
    padding-bottom: 10rem;
  }
}

/**********************
  recruitページ
***********************/
.un_recruit_pageTop {
  padding-top: 9.8rem;
  padding-bottom: 2rem;
}

.un_recruit_lead {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .un_recruit_lead {
    font-size: 2rem;
  }
}

.un_recruit_pageBottom {
  padding-bottom: 17.4rem;
}

.un_1stLetterTheme::first-letter {
  color: #1d2087;
}

/**********************
  お知らせ一覧ページ
***********************/
.un_newslist_heading_wrapper {
  padding-top: 2.4rem;
}
@media screen and (min-width: 768px) {
  .un_newslist_heading_wrapper {
    padding-top: 0rem;
  }
}

/**********************
  お知らせ詳細ページ
***********************/
.un_newsDetail_wrapper {
  padding: 1.5rem;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .un_newsDetail_wrapper {
    padding: 5rem;
  }
}

.un_newsDetail_title_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .un_newsDetail_title_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3rem;
  }
}

.un_newsDetail_date {
  font-size: 2.4rem;
  font-weight: bold;
  color: #1d2087;
}
@media screen and (min-width: 768px) {
  .un_newsDetail_date {
    font-size: 3rem;
  }
}

.un_newsDetail_title {
  font-size: 2.4rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .un_newsDetail_title {
    font-size: 3rem;
  }
}

.un_newsDetail_text {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .un_newsDetail_text {
    font-size: 1.8rem;
  }
}

.un_newsDetail_heading {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .un_newsDetail_heading {
    font-size: 2.4rem;
  }
}

.un_newsDetail_space {
  padding-top: 2.4rem;
}
@media screen and (min-width: 768px) {
  .un_newsDetail_space {
    padding-top: 4rem;
  }
}

/**********************
  海外 Overseas ページ
***********************/
/**********************
  プライバシーポリシー ページ
***********************/
/**********************
  サイトマップ ページ
  事業紹介 ページ
***********************/
.un_link_group_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  padding-bottom: 10rem;
}
@media screen and (min-width: 768px) {
  .un_link_group_wrapper {
    padding-bottom: 20rem;
  }
}

.un_link_group_wrapper.__v2 {
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .un_link_group_wrapper.__v2 {
    padding-bottom: 3rem;
  }
}

.un_square_wrapper {
  color: #1d2087;
}

.un_square {
  display: block;
  position: relative;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border: 0.1rem solid #1d2087;
}
@media screen and (min-width: 768px) {
  .un_square {
    font-size: 2.4rem;
  }
}

.un_square.__fz_sm {
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .un_square.__fz_sm {
    font-size: 2rem;
  }
}

.un_subLink_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  padding: 2rem 0.8rem 0;
}

.un_subLink {
  display: inline-block;
  width: auto;
  font-weight: bold;
}

/**********************
  事業紹介トップ ページ
***********************/
.un_business_lead {
  font-size: 1.6rem;
  padding-top: 1.2rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .un_business_lead {
    font-size: 1.8rem;
  }
}

.un_business_subTitle {
  font-size: 2rem;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .un_business_subTitle {
    font-size: 2.4rem;
  }
}

.un_business_page_section {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  .un_business_page_section {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
}

.un_business_page_section.__v2 {
  padding-bottom: 6rem;
}
@media screen and (min-width: 768px) {
  .un_business_page_section.__v2 {
    padding-bottom: 10rem;
  }
}

.un_business_page_section.__v3 {
  padding-bottom: 6rem;
}
@media screen and (min-width: 768px) {
  .un_business_page_section.__v3 {
    padding-bottom: 19rem;
  }
}

.un_link_grid {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 3rem;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .un_link_grid {
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    row-gap: 4.6rem;
  }
}

/**********************
  事業紹介 代理店 ページ
***********************/
.un_agent_area_grid {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-column-gap: 6%;
     -moz-column-gap: 6%;
          column-gap: 6%;
  row-gap: 3rem;
  padding-top: 0rem;
}
@media screen and (min-width: 768px) {
  .un_agent_area_grid {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    row-gap: 6.5rem;
  }
}

.un_agents_prefs_wrapper {
  padding-left: 0.8rem;
}

.un_agents_pref {
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .un_agents_pref {
    font-size: 2rem;
  }
}

.un_agents_wrapper {
  font-size: 1.6rem;
  padding-top: 2rem;
}

.un_agents_telfax,
.un_agents_mail,
.un_agents_url {
  display: block;
}

.js_swiper_MV {
  position: relative;
}

/* フェードインのベース */
.js_fadeIn {
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.js_fadeIn__delay5 {
  -webkit-transition: all 1s 0.5s ease-out;
  transition: all 1s 0.5s ease-out;
}

.js_fadeIn__delay10 {
  -webkit-transition: all 1s 1s ease-out;
  transition: all 1s 1s ease-out;
}

/* 上からフェードイン */
.js_fadeIn__top {
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}

/* 下からフェードイン */
.js_fadeIn__bottom {
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
}

/* 左からフェードイン */
.js_fadeIn__left {
  -webkit-transform: translate(-20px, 0);
          transform: translate(-20px, 0);
}

/* 右からフェードイン */
.js_fadeIn__right {
  -webkit-transform: translate(20px, 0);
          transform: translate(20px, 0);
}

.lgUp_only {
  display: none !important;
}
@media screen and (min-width: 992px) {
  .lgUp_only {
    display: block !important;
  }
}

.mdUp_only {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .mdUp_only {
    display: block !important;
  }
}

.mdDown_only {
  display: block !important;
}
@media screen and (min-width: 768px) {
  .mdDown_only {
    display: none !important;
  }
}

.sm_only {
  display: block !important;
}
@media screen and (min-width: 576px) {
  .sm_only {
    display: none !important;
  }
}

.hp_centerTxt {
  text-align: center !important;
}

.hp_zIndex__20 {
  z-index: 20 !important;
}

.hp_zIndex__21 {
  z-index: 21 !important;
}

.hp_zIndex__30 {
  z-index: 30 !important;
}

.hp_zIndex__31 {
  z-index: 31 !important;
}

.hp_pos__rel {
  position: relative !important;
}

.hp_lineFeed {
  display: inline-block !important;
}

.hp_colWhite {
  color: #fff !important;
}

.hp_colTheme {
  color: #1d2087 !important;
}

.hp_flex__1 {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}

.hp_mt54 {
  margin-top: 5.4rem !important;
}
@media screen and (min-width: 768px) {
  .hp_mt54 {
    margin-top: 4rem !important;
  }
}

.hp_hide {
  display: none !important;
}

.hp_fw__normal {
  font-weight: normal !important;
}

.hp_fw__bold {
  font-weight: bold !important;
}
/*# sourceMappingURL=style.css.map */