section.ly_cont.un_business_section
  h2.el_lv2Heading business
    span.el_lv2Heading_jp 事業紹介
  .un_business_wrapper
    .un_business_item
      a(href="#").un_business_item_heading 製品情報
      .un_business_item_gridWrapper
        p.un_business_item_subHeading カテゴリ別製品一覧
        .un_business_item_grid
          a(href="#").un_business_item_link セメント・コンクリート試験機器
          a(href="#").un_business_item_link 岩石試験機器
          a(href="#").un_business_item_link 水理実験装置
          a(href="#").un_business_item_link 土質試験機器
          a(href="#").un_business_item_link アスファルト試験機器
          a(href="#").un_business_item_link 複合材料試験機器
          a(href="#").un_business_item_link 試験・研究用切断機
          a(href="#").un_business_item_link 工学系教育用実験模型
          a(href="#").un_business_item_link 力計（マルトー・リング）

    .un_business_item
      a(href="#").un_business_item_heading 各種納入事例
    .un_business_item
      a(href="#").un_business_item_heading 国内代理店・販売店
