section.ly_cont.un_contact_section
  h2.un_2line_sectionTitle
    span.un_2line_title_jp お問合せ
    span.el_lv2Heading.el_lv2Heading__noDeco contact
  lead.un_contact_lead 製品に関すること、技術的なこと、お見積り請求、カタログ・資料請求、採用情報について などお気軽にご連絡ください。
  .un_contact_boxes
    .un_contact_box.un_contact_box__accent
      p.un_contact_box_heading お電話でのお問合せ
      a.un_contact_box_tel(href="tel:03-3643-2111") 03-3643-2111
      p.un_contact_box_time 受付時間　00：00〜00：00
    .un_contact_box.un_contact_box__theme
      p.un_contact_box_heading Webでのお問合せ
      .un_contact_box_btnWrapper
        a(href="#").el_btn.el_btn__round.el_btn__filled.el_btn__whiteBorder.el_btn__icon Mail Form
