section.ly_cont.bl_news_section
  .el_lv2Heading news
    span.el_lv2Heading_jp お知らせ
  .bl_news_wrapper
    a(href="#").bl_news_item
      img.bl_news_item_icon(src="./assets/img/common/icon_listArrow.svg" alt="")
      time.bl_news_item_date(datetime="2023-01-01").bl_news_date 2023.01.01
      p.bl_news_item_text この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。

    a(href="#").bl_news_item
      img.bl_news_item_icon(src="./assets/img/common/icon_listArrow.svg" alt="")
      time.bl_news_item_date(datetime="2023-01-01").bl_news_date 2023.01.01
      p.bl_news_item_text この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。

    a(href="#").bl_news_item
      img.bl_news_item_icon(src="./assets/img/common/icon_listArrow.svg" alt="")
      time.bl_news_item_date(datetime="2023-01-01").bl_news_date 2023.01.01
      p.bl_news_item_text この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。

  .el_btn_wrapper
    a(href="#").el_btn.el_btn__round Read More