section.ly_cont.un_twitter_section
  a.twitter-timeline(data-width="500" data-height="500" href="https://twitter.com/maruto_1951?ref_src=twsrc%5Etfw") Tweets by maruto_1951
    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
