section.un_contact_section
  h2.un_2line_sectionTitle
    span.un_2line_title_jp お問い合わせ
    span.el_lv2Heading.el_lv2Heading__noDeco contact
  lead.un_contact_lead 製品に関すること、技術的なこと、お見積り請求、カタログ・資料請求、採用情報について などお気軽にご連絡ください。

  .bl_contact-form_wrapper
    table.bl_contact_form
      tr
        th
          span 【必須】
          | お名前
        td
          input(type="text" name="your-name" required)
      tr
        th
          span 【必須】
          | 会社名
        td
          input(type="text" name="your-company")
      tr
        th
          span 【必須】
          | メールアドレス
        td
          input(type="email" name="your-email" required)
      tr
        th
          span 【必須】
          | メールアドレス(確認)
        td
          input(type="email" name="your-email-confirm" required)
      tr
        th
          span 【必須】
          | お問い合わせ内容
        td
          textarea(name="your-message")

    .un_contact_btn_wrapper
      lead.un_contact_btn_lead ご入力内容を確認の上、送信ボタンを押してください。
      input(type="submit" value="送　信").el_btn.un_contact_btn
