// 仕様
section.ly_cont.un_recruit_pageTop
  .el_lv2Heading_wrapper
    h2.el_lv2Heading Recruit
      span.el_lv2Heading_jp 採用情報
  p.un_recruit_lead 分け隔てのない環境の会社で、一緒に働いてみませんか？<br>
    | 明るく元気にコミュニケーションが取れて「顧客の良き相談相手」となれる方お待ちしております。<br>
    | 詳細は弊社総務部総務課まで、お電話もしくは「お問合わせ」よりご連絡ください。
// 募集要項
section.ly_cont.un_product_details_section
  h3.el_lv3Heading.un_1stLetterTheme.un_borderBottom 募集要項
  table.bl_table2cols
    tbody
      tr
        th 募集職種の内容
        td
          | ① 各種試験機器の販売に関する人材（営業）<br>
          | ② 受注・売上等の事務処理に関する人材（営業内務）<br>
          | ③ 各種試験機器の製造に関する人材（製造）<br>
          | ④ 各種試験機器の電気配線、電気設計等に関する人材（製造）<br>
          | ⑤ 各種試験機器の制御、プログラミング等に関する人材（製造）<br>
          | ⑥ 各種試験機器の設計に関する人材（設計）
      tr
        th 応募資格
        td 高卒以上（ただし、①の人材に関しては要普通自動車運転免許（AT限定可））
      tr
        th 勤務地
        td 本社（東京都江東区）
      tr
        th 勤務時間
        td 8:30 ～ 17:10（昼休憩 12:00 ～ 13:00）
      tr
        th 雇用形態
        td 正社員（試用期間3ヶ月）
      tr
        th 給与
        td 年齢、経験、能力等を考慮し、当社規定により決定いたします
      tr
        th 昇給
        td 年1回（7月）
      tr
        th 賞与
        td 年2回（7月、12月）
      tr
        th 福利厚生
        td ● 各種社会保険（雇用保険、労災保険、健康保険、厚生年金）　　　
          span.hp_lineFeed ●退職金制度　　　
          span.hp_lineFeed ● 健康保険組合による健康診断　　　
          span.hp_lineFeed ● 表彰制度（永年勤続、優秀社員表彰）
      tr
        th 諸手当
        td ● 通勤手当　　　
          span.hp_lineFeed ● 営業手当　　　
          span.hp_lineFeed ● 時間外手当　　　
          span.hp_lineFeed ● 役職手当　　　
          span.hp_lineFeed ● 住宅手当　　　
          span.hp_lineFeed ● 家族手当
      tr
        th 休日・休暇
        td 完全週休2日制（土、日）、祝日、年末年始、夏季休暇<br>
          | 年次有給（勤続6ヶ月で所定労働日数の8割以上出勤した際10日支給(最高40日)）<br>
          | 慶弔、各種特別休暇
      tr
        th 選考方法
        td 書類選考、面接
